html {
  scroll-snap-type: y proximity;
}

.row {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4A5FC1;
  scroll-snap-align: end;
}

@keyframes drop {
  0% {
    transform: scale(2);
  }
  85% {
    transform: scale(1.15);
  }
  95% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  75% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.introduction {
  transform: scale(2);
  animation: drop 0.4s ease-out 0.1s 1 normal;
  animation-fill-mode: forwards;
  width: 50%;
  text-align: left;
}

.introduction .text-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.technologies {
  transform: scale(2);
  animation: drop 0.4s ease-out 0.2s 1 normal;
  animation-fill-mode: forwards;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0rem;
}

.technologies span {
  font-family: Inter;
  font-weight: bold;
  font-size: 32px;
  color: #9CFBD0;
}

.technologies .logo-row {
  gap: 20px;
  justify-content: center;
  margin: 1rem;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  scroll-snap-align: start;
}

.fade-in {
  animation: fade-in 0.5s ease-out 0.2s 1 forwards;
  animation-fill-mode: forwards;
}

.resume {
  opacity: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio {
  opacity: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  margin: 1.5rem 0rem;
}

.contact-button-container {
  opacity: 0;
  animation: fade-in 1s ease-in 0.3s 1 forwards; 
  animation-fill-mode: forwards;
  justify-content: center;
}