.menu-button {
  font-family: Inter;
  font-size: 28px;
  color: white;
  background-color: transparent;
  border: none;
}

.menu-button:hover {
  color: #9cc7fb;
}

.menu-button:active {
  color: #549ef8;
}

.big-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 15px;
  width: 150px;
  border: none;
}

.contact {
  font-family: Inter;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: black;
  border: white solid 2px;
}

.contact:hover {
  color: #82e3d7;
  border-color: #82e3d7;
}

.contact:active {
  color: #2abbaa;
  border-color: #2abbaa;
}

.resume {
  font-family: Inter;
  font-size: 14px;
  font-weight: bold;
  color: black;
  border: black solid 2px;
  background-color: white;
}

.resume:hover {
  color: #18bfef;
  border-color: #18bfef;
}

.resume:active {
  color: #0d98bf;
  border-color: #0d98bf;
}