.menu-button {
  font-family: Inter;
  font-size: 16px;
  color: #9cc7fb;
  background-color: transparent;
  border: none;
}

.menu-button:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.menu-button:active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.menu-button-active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.big-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  width: 170px;
  border: none;
  border-radius: 5px;
}

.big-button:hover {
  box-shadow: 0px 1px 8px #404040;
}

.download {
  font-family: Inter;
  font-size: 20px;
  color: white;
  background-color: #00458B;
}

.download:hover {
  background-color: #11569C;
}

.download:active {
  background-color: #2267AD;
}

.link {
  font-family: Inter;
  font-size: 20px;
  color: #394F8A;
  background-color: #99DDEE;
}

.link:hover {
  background-color: #AAEEFF;
}

.link:active {
  background-color: #BBFFFF;
}

.contact {
  font-family: Inter;
  font-size: 18px;
  color: white;
  background-color: #23C0AD;
}

.contact:hover {
  background-color: #34D1BE;
}

.contact:active {
  background-color: #45E2CF;
}