@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cursor {
  animation: cursor-blink 1.0s steps(1) infinite;
  margin-left: 2px;
  width: 2px;
  background: currentColor;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.tag {
  display: inline-flex;
  max-height: fit-content;
  max-width: fit-content;
}